/Proyecto2_AutosColon/build.xml
/Proyecto2_AutosColon/manifest.mf
/Proyecto2_AutosColon/nbproject/.*
/Proyecto2_AutosColon/lib/.*
/Proyecto2_AutosColon/nbproject/
/Proyecto2_AutosColon/lib/
/Proyecto2_AutosColon/build/
